using System;
using Newtonsoft.Json;

namespace CSFramework
{
    [Serializable]
    public class ${ClassName} : Storage
    {
        ${ClassContent}
        #ClassStart

        #BasePropertyStart
        // ${Desc}
        [JsonProperty]
        ${PropertyType} ${PropertyPrivateName} = ${PropertyDefaultValue};
        [JsonIgnore]
        public ${PropertyType} ${PropertyName}
        {
            get
            {
                return ${PropertyPrivateName};
            }
            set
            {
                if (${PropertyPrivateName} != value)
                {
                    ${PropertyPrivateName} = value;
                    dirty(${ForceSave});
                }
            }
        }
        #BasePropertyEnd

        #ObjectPropertyStart
        // ${Desc}
        [JsonProperty]
        ${PropertyType} ${PropertyPrivateName} = new ${PropertyType}(${ForceSave});
        [JsonIgnore]
        public ${PropertyType} ${PropertyName}
        {
            get
            {
                return ${PropertyPrivateName};
            }
        }
        #ObjectPropertyEnd

        #ClassEnd
    }
}