using System;
using System.Collections.Generic;

namespace CSFramework
{
    public class ConfigRegistry : IConfigRegistry
    {
        public List<KeyValuePair<string, Type>> RegisteredConfigList = new List<KeyValuePair<string, Type>>
        {${ConfigList}#ConfigStart
            new KeyValuePair<string, Type> ("${ConfigPath}", typeof(${ClassName})), #ConfigEnd
        };
        public List<KeyValuePair<string, Type>> GetRegisteredConfig ()
        {
            return RegisteredConfigList;
        }
    }
}