using System;
using System.Collections.Generic;

namespace CSFramework
{
    public class ${ClassName} : Config
    {${ClassContent} #PropertyStart
        public ${PropertyType} ${PropertyName}; // ${Desc} #PropertyEnd
    }
}